<div>
  <img src="https://en.gravatar.com/userimage/5565716/4920433887b40884f61775ca2ce2af2f.jpeg?size=256" alt="Headshot of Rhamses Soares">
  <p>
    Hi, I'm <strong>Rhamses</strong>. I'm a Web engineer based in Brasil.
    You can follow me on <a href="https://www.twitter.com/rhamses" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/rhamses" target="_blank">GitHub</a>,
    or read more about me on <a href="https://rhams.es" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
