<style>
  img {
    display: block;
    width: 75px;
  }
</style>

<a href="/" class="logo">
  <!-- <img alt="Blog Logo" src="/assets/logo.webp" width="75" height="50"> -->
   Rhamses
</a>

<style>
  .logo {
    font-size: 1.5rem;
    font-family: "Fira Sans";
    transition: all 0.25s ease-in-out;

    &:hover {
      padding-left: 1rem;
      padding-right: 1rem;
      color: var(--background-body);
      background-color: var(--text-main);
      border-radius: 10px;
    }
  }
</style>
